PORT=3000
SWAGGER_ENABLED=true
MONGODB_SCHEME=mongodb
MONGODB_HOST=localhost
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_PORT=27017
MONGODB_DATABASE_NAME=mindfulness
MONGODB_OPTIONS=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

APP_URL=http://localhost:3000
CORS_ORIGINS=*
//mindfulness-api.phucdn.dev # Tên miền thật của bạn