PORT=3000
MONGODB_SCHEME=mongodb
MONGODB_HOST=localhost
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_PORT=27017
MONGODB_DATABASE_NAME=mindfulness
MONGODB_OPTIONS=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
